!.gitkeep
/.env
/.install
/.rothenberg
/.rothenberg.config
/bin/*
/composer.lock
/composer.passwd
/env/node/node_modules
/env/node/npm-debug.log
/packages
/phpunit.xml
/tmp/*
/var/bootstrap.php.cache
/var/cache/*
/var/js/*
/var/logs/*
/var/sessions/*
/vendor/
/web/bundles/
/web/css
/web/fonts
/web/img
/web/js
/web/uploads/
